@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-theme .slick-dots li button:before {
    color: #fff !important; /* Change to desired color */
}
  
.dark-theme .slick-dots li.slick-active button:before {
    color: #fff !important; /* Change to desired active color */
}

.slick-dots li button:before{
    margin-top: -20px;
}